* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
}

h1 {
    text-decoration: underline;
    font-weight: bolder;
    padding-top: 20px;
}

nav{
    padding-top: 35px;
    padding-bottom: 20px;
    padding-left: 10px;
}


#imagen_perfil{
    margin: 0px;
    border: 0px;
    padding-left: 0px;
}

.campo_basico{
    font-weight: bolder;
}

.subrayado{
    text-decoration: underline;  
    padding-left: 10px;  
}

span{
    margin-bottom: 10px;
}

#boton{
    color: black;
    background-color: rgb(253, 185, 57);
    border: 1px solid blue;
    font-weight: bolder;
    margin-left: 10px;
}

div{
    padding-bottom: 5px;
}